:root {
  --normal-black: #000;
  --normal-white: #FFF;
  --roman-red: #CD0000;
  --scottish-blue: #0065bd;
  --eleganBlue: #427ed1;
  --lighter-blue: #4c8be0;
  --darker-yellow: #ffaf00;
  --coral-red: #FF7F50;
  --emerald-green: #00C957;
  --slate-blue: #7171C6;
  --medium-purple: #8968CD;
  --midnight-blue: #191970;
  --aqua: #00FFFF;
  --ruby-red: #e0115f;
  --scarlet-red: #ff2400;
  --JavaScript-yellow: #F5D733;
  --elegantGrey: #3e3e3e;
  --lightGrey: #4d4d4f;
  --navy-blue: rgb(0, 22, 51);
  --lime-green: rgb(166, 207, 66);
  --midnight-blue: #191970;
  --forest-green: #228B22;
  --whole-foods-green: #00674b;
  --recycling-green: #009900;
  --pine-green: #01796F;
  --cognac-brown: #834333;
  --pine-gold: #dab970;
  --linen-white: #E9DCC9;
  --olive-green: #808000;
  --dark-green: #006400;
  --pizza-red: #D62828;      /* Tomato sauce */
  --pizza-yellow: #F7C531;   /* Cheese */
  --pizza-green: #3A5A40;    /* Olives / herbs */
  --pizza-beige: #F4E1C1;    /* Crust */
  --pizza-dark: #2E2E2E;     /* Text / contrast */
  --color-jumbotron-overlay: rgba(0, 0, 0, 0.6);
}

/* DEFAULT CLASSES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  list-style: none;
  color: inherit;
}

li {
  list-style: none;
}

body {
  font-family: "Oregano", cursive;
  font-style: normal;
  background-color: var(--pizza-beige);
  color: var(--pizza-dark);
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background: var(--pizza-yellow);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--pizza-dark);
  border-radius: 2px;
  border: 2px solid var(--pizza-green);
  transition:0.5s;
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--pizza-dark);
}

/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

#about-us-page .under-header-AboutUs {
  
}
  
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

/* LARGE - MEDIA QUERY START */
/* LARGE - MEDIA QUERY START */
/* LARGE - MEDIA QUERY START */
/* LARGE - MEDIA QUERY START */
/* LARGE - MEDIA QUERY START */

@media screen and (max-width: 1616px) {
  
}

/* LARGE - MEDIA QUERY END */
/* LARGE - MEDIA QUERY END */
/* LARGE - MEDIA QUERY END */
/* LARGE - MEDIA QUERY END */
/* LARGE - MEDIA QUERY END */

/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

/* MEDIUM - MEDIA QUERY START */
/* MEDIUM - MEDIA QUERY START */
/* MEDIUM - MEDIA QUERY START */
/* MEDIUM - MEDIA QUERY START */
/* MEDIUM - MEDIA QUERY START */

@media screen and (max-width: 1316px) and (max-width: 1023px) {
  
}

/* MEDIUM - MEDIA QUERY END */
/* MEDIUM - MEDIA QUERY END */
/* MEDIUM - MEDIA QUERY END */
/* MEDIUM - MEDIA QUERY END */
/* MEDIUM - MEDIA QUERY END */

/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

/* SMALL - MEDIA QUERY START */
/* SMALL - MEDIA QUERY START */
/* SMALL - MEDIA QUERY START */
/* SMALL - MEDIA QUERY START */
/* SMALL - MEDIA QUERY START */

@media screen and (max-width: 1024px) and (orientation: portrait) {

}

/* SMALL - MEDIA QUERY END */
/* SMALL - MEDIA QUERY END */
/* SMALL - MEDIA QUERY END */
/* SMALL - MEDIA QUERY END */
/* SMALL - MEDIA QUERY END */