:root {
  --normal-black: #000;
  --normal-white: #FFF;
  --roman-red: #CD0000;
  --scottish-blue: #0065bd;
  --eleganBlue: #427ed1;
  --lighter-blue: #4c8be0;
  --darker-yellow: #ffaf00;
  --coral-red: #FF7F50;
  --emerald-green: #00C957;
  --slate-blue: #7171C6;
  --medium-purple: #8968CD;
  --midnight-blue: #191970;
  --aqua: #00FFFF;
  --ruby-red: #e0115f;
  --scarlet-red: #ff2400;
  --JavaScript-yellow: #F5D733;
  --elegantGrey: #3e3e3e;
  --lightGrey: #4d4d4f;
  --navy-blue: rgb(0, 22, 51);
  --lime-green: rgb(166, 207, 66);
  --midnight-blue: #191970;
  --forest-green: #228B22;
  --whole-foods-green: #00674b;
  --recycling-green: #009900;
  --pine-green: #01796F;
  --cognac-brown: #834333;
  --pine-gold: #dab970;
  --linen-white: #E9DCC9;
  --olive-green: #808000;
  --dark-green: #006400;
  --pizza-red: #D62828;      /* Tomato sauce */
  --pizza-yellow: #F7C531;   /* Cheese */
  --pizza-green: #3A5A40;    /* Olives / herbs */
  --pizza-beige: #F4E1C1;    /* Crust */
  --pizza-dark: #2E2E2E;     /* Text / contrast */
  --color-jumbotron-overlay: rgba(0, 0, 0, 0.6);
}

/* DEFAULT CLASSES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  list-style: none;
  color: inherit;
}

li {
  list-style: none;
}

body {
  font-family: "Oregano", cursive;
  font-style: normal;
  background-color: var(--pizza-beige);
  color: var(--pizza-dark);
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background: var(--pizza-yellow);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--pizza-dark);
  border-radius: 2px;
  border: 2px solid var(--pizza-green);
  transition:0.5s;
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--pizza-dark);
}

/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

/* JUMBOTRON-CONTAINER (RAINING PIZZA) - START*/
/* JUMBOTRON-CONTAINER (RAINING PIZZA) - START*/
/* JUMBOTRON-CONTAINER (RAINING PIZZA) - START*/
/* JUMBOTRON-CONTAINER (RAINING PIZZA) - START*/
/* JUMBOTRON-CONTAINER (RAINING PIZZA) - START*/

#about-us-page .under-header-AboutUs {
  width: 100%;
  /* background: radial-gradient(#333, #000); */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: relative;
}

#about-us-page .under-header-AboutUs .central-container {
  width: 90%;
  height: 1100px;
}

/* TOP */
#about-us-page .under-header-AboutUs .central-container div.top {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-us-page .under-header-AboutUs .central-container div.top h1 {
  padding: 0.5em 0em;
  font-size: 5em;
}

/* CENTER / MIDDLE */
#about-us-page .under-header-AboutUs .central-container div.center {
  width: 100%;
  height: 60%;
  display: flex;
}

#about-us-page .under-header-AboutUs .central-container div.center div:first-child,
#about-us-page .under-header-AboutUs .central-container div.center div:nth-child(2),
#about-us-page .under-header-AboutUs .central-container div.center div:last-child {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3);
  height:100%;
}

#about-us-page .under-header-AboutUs .central-container div.center div:first-child,
#about-us-page .under-header-AboutUs .central-container div.center div:last-child {
  line-height: 45px;
  letter-spacing: 2px;
  font-size: 1.7em;
}

#about-us-page .under-header-AboutUs .central-container div.center div:first-child {
  margin-right: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#about-us-page .under-header-AboutUs .central-container div.center div:last-child {
  margin-left: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#about-us-page .under-header-AboutUs .central-container div.center div:first-child p .char,
#about-us-page .under-header-AboutUs .central-container div.center div:last-child p .char {
  visibility: hidden;
  animation: animate 0s steps(2) forwards;
  animation-delay: calc(0.01s * var(--char-index));
}

@keyframes animate {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

#about-us-page .under-header-AboutUs .central-container div.center div:nth-child(2) img {
  height:100%;
  border-radius: 10px;
}

/* BOTTOM */
#about-us-page .under-header-AboutUs .central-container div.bottom {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  margin: 5em 0em;
}

/* ANIMATION IN THE BACKGROUND */
#about-us-page .under-header-AboutUs .set {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

/* ALL DIVS TOGETHER */
#about-us-page .under-header-AboutUs .set div {
  position: absolute;
  display: block;
}

#about-us-page .under-header-AboutUs .set div img {
  width: 100px;
  height: 100px;
}

/* (1) */
#about-us-page .under-header-AboutUs .set div:nth-child(1) {
  left: 20%;
  animation: falling 15s linear infinite;
  animation-delay: -7s;
}

/* (2) */
#about-us-page .under-header-AboutUs .set div:nth-child(2) {
  left: 50%;
  animation: falling 20s linear infinite;
  animation-delay: -5s;
}

/* (3) */
#about-us-page .under-header-AboutUs .set div:nth-child(3) {
  left: 70%;
  animation: falling 20s linear infinite;
  animation-delay: 0s;
}

/* (4) */
#about-us-page .under-header-AboutUs .set div:nth-child(4) {
  left: 0%;
  animation: falling 15s linear infinite;
  animation-delay: -5s;
}

/* (5) */
#about-us-page .under-header-AboutUs .set div:nth-child(5) {
  left: 85%;
  animation: falling 18s linear infinite;
  animation-delay: -10s;
}

/* (6) */
#about-us-page .under-header-AboutUs .set div:nth-child(6) {
  left: 0%;
  animation: falling 12s linear infinite;
}

/* (7) */
#about-us-page .under-header-AboutUs .set div:nth-child(7) {
  left: 15%;
  animation: falling 14s linear infinite;
}

/* (8) */
#about-us-page .under-header-AboutUs .set div:nth-child(8) {
  left: 60%;
  animation: falling 15s linear infinite;
}

@keyframes falling {
  0%{
    top:-10%;
    transform:translateX(20px)rotate(0deg);
  }
  10%{
    transform:translateX(20px)rotate(45deg);
  }
  20%{
    transform:translateX(-20px)rotate(90deg);
  }
  40%{
    transform:translateX(-20px)rotate(45deg);
  }
  60%{
    transform:translateX(20px)rotate(180deg);
  }
  80%{
    transform:translateX(-20px)rotate(180deg);
  }
  100%{
    top:110%;
    transform:translateX(20px)rotate(225deg);
  }
}

#about-us-page .set2 {
  transform:scale(2) rotateY(180deg);
}

#about-us-page .set3 {
  transform:scale(0.8) rotateY(180deg);
}

/* JUMBOTRON-CONTAINER (RAINING PIZZA) - END*/
/* JUMBOTRON-CONTAINER (RAINING PIZZA) - END*/
/* JUMBOTRON-CONTAINER (RAINING PIZZA) - END*/
/* JUMBOTRON-CONTAINER (RAINING PIZZA) - END*/
/* JUMBOTRON-CONTAINER (RAINING PIZZA) - END*/


/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

/* THREE BOX CONTAINER - START */
/* THREE BOX CONTAINER - START */
/* THREE BOX CONTAINER - START */

/* INSIDE HERE THERE ARE 2 DIVS: TOP AND BOTTOM */
#about-us-page .three-box-container-aboutUs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 5em 0em;
}

#about-us-page .three-box-container-aboutUs h1 {
  display: flex;
  justify-content: center;
  font-size: 4em;
  margin-bottom: 1em;
}

/* TOP */
#about-us-page .three-box-container-aboutUs .top {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 90%;
  margin: 0 auto;
}

#about-us-page .three-box-container-aboutUs .top div {
  background-color: var(--pizza-green);
  color: var(--pizza-yellow);
  flex: 1 1 300px; 
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 
    0 -4px 6px -1px rgba(9, 23, 54, 0.15), 
    0 4px 6px -1px rgba(9, 23, 54, 0.15), 
    -4px 0 6px -1px rgba(9, 23, 54, 0.15), 
    4px 0 6px -1px rgba(9, 23, 54, 0.15);
}

/* #about-us-page .three-box-container-aboutUs .top div i {
  display: flex;
  justify-content: center;
  background-color: var(--color-sidebar-top-box);
  color: var(--normal-white);
  font-size: 2.5em;
  border-radius: 50%;
  padding: 1em;
  margin-top: 1em;
} */

#about-us-page .three-box-container-aboutUs .top div img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  padding: 1em;
  animation: spinning 10s linear infinite;
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg); 
  }
}

#about-us-page .three-box-container-aboutUs .top div h3 {
  margin: 2em 0em;
  font-size: 2.5em;
}

#about-us-page .three-box-container-aboutUs .top div p {
  width: 100%;
  font-size: 1.5em;
  line-height: 40px;
  letter-spacing: 2px;
}

/* BOTTOM */
#about-us-page .three-box-container-aboutUs .bottom {
  margin: 5em 0em 0em 0em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#about-us-page .three-box-container-aboutUs .bottom h2 {
  font-size: 4em;
}

#about-us-page .three-box-container-aboutUs .bottom p {
  width:80%;
  margin: 2em auto 0em auto;
  font-size: 2em;
  letter-spacing: 3px;
  line-height: 50px;
}

/* THREE BOX CONTAINER - END */
/* THREE BOX CONTAINER - END */
/* THREE BOX CONTAINER - END */

/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

/* MEET OUR STAFF - START */
/* MEET OUR STAFF - START */
/* MEET OUR STAFF - START */
/* MEET OUR STAFF - START */
/* MEET OUR STAFF - START */

/* INSIDE HERE THERE ARE 2 DIVS: TOP AND BOTTOM */
#about-us-page .meet-our-staff-container {
  display: flex;
  flex-direction: column;
  margin: 5em 0em;
}

/* TOP */

#about-us-page .meet-our-staff-container h2#title {
  display: flex;
  justify-content: center;
  font-size: 5em;
  margin-bottom: 1em;
}

#about-us-page .meet-our-staff-container .top {
  display: flex;
  justify-content: space-evenly;
  width:90%;
  margin:0 auto;
}

#about-us-page .meet-our-staff-container .top div {
  background-color: var(--pizza-green);
  color: var(--pizza-beige);
  width: calc(25% - 20px);
  margin: 0px 10px 0px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 
  0 -4px 6px -1px rgba(9, 23, 54, 0.15), 
  0 4px 6px -1px rgba(9, 23, 54, 0.15), 
  -4px 0 6px -1px rgba(9, 23, 54, 0.15), 
  4px 0 6px -1px rgba(9, 23, 54, 0.15);
}

#about-us-page .meet-our-staff-container .top div img {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  margin-top:10px;
}

#about-us-page .meet-our-staff-container .top div h3 {
  margin: 1em 0em;
  font-size: 3em;
  color: var(--pizza-yellow)
}

#about-us-page .meet-our-staff-container .top div p {
  width: 90%;
  margin:0 auto 1em auto;
  font-size: 2em;
  line-height: 40px;
}

/* BOTTOM */
#about-us-page .meet-our-staff-container .bottom {
  margin: 8em 0em 0em 0em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#about-us-page .meet-our-staff-container .bottom h2 {
  font-size: 5em;
}

#about-us-page .meet-our-staff-container .bottom p {
  width:80%;
  margin: 2em auto 0em auto;
  font-size: 2em;
  line-height: 60px;
}

#about-us-page .meet-our-staff-container .bottom .circle {
  position: relative;
  overflow: visible;
}

#about-us-page .meet-our-staff-container .bottom .circle img {
  border-radius: 100%;
  max-width: 100%;
  display: block;
  position: relative;
  z-index: 2;
}

#about-us-page .meet-our-staff-container .bottom .pizza__smoke {
  position: absolute;
  top: 0%;
  left: 10%;
  width: 80%;
  height: 100%;
  z-index: 10;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/386739/smoke.png);
  background-size: 100% auto;
  animation: smoke-animation 8s linear infinite;
  opacity: 0.8;
  pointer-events: none;
}

@keyframes smoke-animation {
  0% { background-position: 0 0; }
  100% { background-position: 0 340%; }
}

/* MEET OUR STAFF - END */
/* MEET OUR STAFF - END */
/* MEET OUR STAFF - END */
/* MEET OUR STAFF - END */
/* MEET OUR STAFF - END */
/* (ALWAYS THE SAME SECTION) */
/* (ALWAYS THE SAME SECTION) */
/* (ALWAYS THE SAME SECTION) */
/* (ALWAYS THE SAME SECTION) */
/* (ALWAYS THE SAME SECTION) */
/* WRAPPED TEXT SECTION - START */
/* WRAPPED TEXT SECTION - START */
/* WRAPPED TEXT SECTION - START */
/* WRAPPED TEXT SECTION - START */
/* WRAPPED TEXT SECTION - START */

#about-us-page section.wrapped-text-section {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

#about-us-page section.wrapped-text-section .circle {
  position: relative;
  overflow: hidden;
}

/* 1 */
#about-us-page section.wrapped-text-section .circle.circle1 {
  height: 500px;
  width: 500px;
  float: left;
  border-radius: 50%;
  margin: 20px;
  shape-outside: circle();
}

/* 2 */
#about-us-page section.wrapped-text-section .circle.circle2 {
  height: 300px;
  width: 300px;
  float: right;
  border-radius: 50%;
  margin: 20px;
  shape-outside: circle();
}

#about-us-page section.wrapped-text-section .circle img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

#about-us-page section.wrapped-text-section h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

#about-us-page section.wrapped-text-section p {
  letter-spacing: 4px;
  line-height: 40px;
}

/* WRAPPED TEXT SECTION - START */
/* WRAPPED TEXT SECTION - START */
/* WRAPPED TEXT SECTION - START */
/* WRAPPED TEXT SECTION - START */
/* WRAPPED TEXT SECTION - START */

#about-us-page .banner {
  margin-top: 0;
}

/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

/* LARGE - MEDIA QUERY START */
/* LARGE - MEDIA QUERY START */
/* LARGE - MEDIA QUERY START */
/* LARGE - MEDIA QUERY START */
/* LARGE - MEDIA QUERY START */

@media screen and (max-width: 1616px) {
  
}

/* LARGE - MEDIA QUERY END */
/* LARGE - MEDIA QUERY END */
/* LARGE - MEDIA QUERY END */
/* LARGE - MEDIA QUERY END */
/* LARGE - MEDIA QUERY END */

/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

/* MEDIUM - MEDIA QUERY START */
/* MEDIUM - MEDIA QUERY START */
/* MEDIUM - MEDIA QUERY START */
/* MEDIUM - MEDIA QUERY START */
/* MEDIUM - MEDIA QUERY START */

@media screen and (max-width: 1316px) and (max-width: 1023px) {
  
}

/* MEDIUM - MEDIA QUERY END */
/* MEDIUM - MEDIA QUERY END */
/* MEDIUM - MEDIA QUERY END */
/* MEDIUM - MEDIA QUERY END */
/* MEDIUM - MEDIA QUERY END */

/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

/* SMALL - MEDIA QUERY START */
/* SMALL - MEDIA QUERY START */
/* SMALL - MEDIA QUERY START */
/* SMALL - MEDIA QUERY START */
/* SMALL - MEDIA QUERY START */

@media screen and (max-width: 1024px) and (orientation: portrait) {
  
  #about-us-page .meet-our-staff-container {
    margin: 5em 0em;
  }
  
  #about-us-page .meet-our-staff-container .bottom {
    width: 90%;
    margin: 5em auto 0em auto;
  }
  
  #about-us-page .meet-our-staff-container .bottom h2 {
    font-size: 3em;
  }
  
  #about-us-page .meet-our-staff-container .bottom p {
    width:100%;
  }
  
  #about-us-page .meet-our-staff-container h2#title {
    margin-bottom: 1em;
    font-size: 3em;
  }
  
  #about-us-page .meet-our-staff-container .top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #about-us-page .meet-our-staff-container .top div {
    width: 100%;
    margin-bottom:2em;
  }
  
  #about-us-page section.wrapped-text-section {
    width: 100%;
    text-align: left;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #about-us-page section.wrapped-text-section .circle.circle1,
  #about-us-page section.wrapped-text-section .circle.circle2 {
    width: 250px;
    height:250px;
    float: initial;
  }
  
}

/* SMALL - MEDIA QUERY END */
/* SMALL - MEDIA QUERY END */
/* SMALL - MEDIA QUERY END */
/* SMALL - MEDIA QUERY END */
/* SMALL - MEDIA QUERY END */